*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.placar{
    display: flex;
    justify-content: space-between;
    height: 23px;
    width: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.main-bg{
    background-image: url(../img/sun-tornado.svg);
    background-position: center center;
    background-size: cover;
}
.align-content{
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: calc(100vh - 100px);
    max-width: 1440px;
}
#jogo{
    margin: 0 auto;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    border-radius: 15px;
}
#jogo div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: bold;
    cursor: pointer;
}
#jogo div:nth-last-of-type(3n+2){
    border-left: 7px solid black;
    border-right: 7px solid black;
}
#jogo div:nth-last-of-type(n+4):nth-last-of-type(-n+6){
    border-top: 7px solid black;
    border-bottom: 7px solid black;
}