*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
body{
    overflow: hidden;
}
img{
    height: 90%;
    width: 90%;
}
a{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    background-color: black;
    border-radius: 50%;
    transition: ease-in-out 400ms;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    margin-top: 5px;
}
a:focus{
    transform: scale(0.9);

}
.aberto{
    opacity: 1;
    visibility: visible;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.align-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.container{
    height: 100vh;
    max-width: 1440px;
}
#jogo{
    margin: 0 auto;
    height: 500px;
    width: 500px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
}
#jogo div{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 90px;
    font-weight: bold;
    cursor: pointer;
}
#jogo div:nth-last-of-type(3n+2){
    border-left: 10px solid black;
    border-right: 10px solid black;
}
#jogo div:nth-last-of-type(n+4):nth-last-of-type(-n+6){
    border-top: 10px solid black;
    border-bottom: 10px solid black;
}
@media (max-width: 500px){
    #jogo{
        height: 300px;
        width: 300px;
    }
    #jogo div{
        font-size: 60px;
    }
}
